            body {
                font-family: 'Poppins', sans-serif;
                margin: 0 auto;
                font-size: 22px;
            }
            
            a {
                all: unset;
                text-decoration: none;
                display: block;
            }
            /*Navigation*/
            
            .nav-container {
                background-color: #5a6169;
                padding: 5px 10px;
                font-size: 1.5vw;
                max-width: 100%;
            }
            
            .mobile-nav {
                display: flex;
                align-items: center;
            }
            
            .mobile-nav div {
                width: 45%;
                display: flex;
                justify-content: flex-start;
            }
            
            .fa-bars {
                font-size: 40px;
                color: white;
                padding: 10px;
            }
            
            .lbe-logo-no-text {
                display: block;
                padding: 10px;
            }
            
            .lbe-logo-text {
                display: none;
            }
            
            .nav-link {
                cursor: pointer;
                color: #d4d6d8;
                display: block;
                padding: 0 20px;
            }
            
            .nav-center,
            .nav-right {
                display: none;
            }
            
            .fa-angle-down {
                font-size: 1.2vw;
            }
            
            @media (min-width: 900px) {
                .nav-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    padding: 5px 10%;
                }
                .lbe-logo-text {
                    display: block;
                }
                .nav-center {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 1.5;
                }
                .nav-right {
                    display: block;
                }
                .mobile-nav {
                    display: none;
                }
            }
            /*Dropdowns*/
            
            .dropdown {
                position: relative;
            }
            
            .menu-item-list {
                list-style: none;
                margin: 0;
                padding-left: 10px;
            }
            
            .menu-item-list a {
                cursor: pointer;
                color: #ffb400;
                margin-bottom: 3px;
            }
            
            .menu-item-list li:hover {
                text-decoration: underline;
            }
            
            .dropdown {
                padding: 5px;
            }
            
            .dropdown-menu {
                background-color: white;
                border-radius: 10px;
                box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
                display: none;
                padding: 5px 3px;
                position: absolute;
                top: 42px;
                z-index: 10;
            }
            
            #beer-menu {
                left: 15px;
                width: 120px;
            }
            
            #breweries-menu {
                left: 15px;
                width: 140px;
            }
            
            #sign-in-menu {
                left: 12px;
                width: 200px;
            }
            
            .show {
                display: block;
            }
            /*Hero*/
            
            .hero-container {
                color: #ffffff;
                background-image: url(../LBE-Assets/Hero-Background.png);
                background-size: cover;
                height: 800px;
                text-align: center;
                max-width: 100%;
            }
            
            .hero-container div {
                padding: 4vh;
            }
            
            .hero-left-content h1 {
                font-size: 48px;
                line-height: 1.2;
            }
            
            .hero-left-content p {
                font-size: 25px;
                line-height: 1.5;
                margin-top: 5px;
            }
            
            .hero-button {
                width: 280px;
                color: #e5b76b;
                background-color: #ffffff;
                font-size: 22px;
                border: none;
                border-radius: 5px;
                padding: 15px;
                margin-top: 15px;
                transition: 0.3s ease-in-out;
                cursor: pointer;
            }
            
            .hero-button:hover {
                background-color: #C0C0C0;
                color: black;
            }
            
            .hero-right-content {
                display: none;
            }
            
            @media (min-width: 900px) {
                .hero-container {
                    max-height: 700px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    padding: 15vh;
                }
                .hero-container div {
                    max-width: 40%;
                    text-align: left;
                }
                .hero-left-content h1 {
                    margin-bottom: 3vw;
                    font-size: 4vw;
                }
                .hero-right-content {
                    display: flex;
                    justify-content: center;
                }
                .hero-right-content img {
                    max-width: 100%;
                }
                .hero-button {
                    width: 200px;
                }
            }
            /*Flavor Selection*/
            
            .flavor-selection {
                background-color: #ffffff;
                text-align: center;
                padding: 20px 20px;
                max-width: 100%;
            }
            
            .flavor-selection h2 {
                font-size: 30px;
                margin-bottom: 0;
                font-weight: 100;
            }
            
            .flavor-selection h1 {
                font-size: 40px;
                font-weight: bold;
                margin-top: 0;
                line-height: 98%;
            }
            
            hr {
                width: 40px;
                border-top: 4px solid #d18200;
            }
            
            .flavor-cards-container {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .flavor-card {
                display: flex;
                text-align: center;
                margin-top: 20px;
            }
            
            .flavor-details {
                padding: 0 10px;
                max-width: 300px;
                display: flex;
                flex-direction: column;
                font-size: 22px;
            }
            
            .flavor-details h3 {
                font-size: 30px;
                margin: 0;
            }
            
            .flavor-details p {
                color: #9ca2a9;
            }
            
            .flavor-select-button {
                width: 280px;
                color: #ffffff;
                background-color: #d18200;
                font-size: 22px;
                border: none;
                border-radius: 5px;
                padding: 15px;
                margin-bottom: 50px;
                transition: 0.3s ease-in-out;
                cursor: pointer;
                text-align: center;
            }
            
            .flavor-select-button:hover {
                background-color: #C0C0C0;
                color: black;
            }
            
            .beer-glass-icon {
                display: none;
            }
            
            @media (min-width: 900px) {
                .flavor-selection {
                    padding: 60px 120px;
                }
                .flavor-selection h2 {
                    font-size: 40px;
                }
                .flavor-selection h1 {
                    font-size: 45px;
                }
                .flavor-cards-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    max-width: 100%;
                }
                .flavor-card {
                    display: flex;
                    align-items: flex-start;
                    text-align: left;
                    margin-top: 40px;
                }
                .beer-glass-icon {
                    padding: 5px;
                    max-height: 150px;
                    display: block;
                }
                .flavor-details {
                    padding: 0 20px;
                    max-width: 300px;
                    max-height: 600px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                .flavor-select-button {
                    width: 200px;
                    font-size: 22px;
                    padding: 15px;
                    margin-bottom: 200px;
                }
            }
            /*Footer*/
            
            footer {
                background-color: #373a3e;
                color: #ffffff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px 40px;
                font-size: 18px;
            }
            
            footer p {
                text-align: center;
            }
            
            .social-media-icons {
                display: flex;
            }
            
            .social-media-icons .nav-link {
                display: block;
                padding: 0;
                margin: 0;
            }
            
            .fab {
                color: #9b9c9e;
                padding: 10px;
            }
            
            @media (min-width: 900px) {
                footer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 160px;
                    font-size: 20px;
                }
            }
            /*Beer pages*/
            
            .desktop {
                display: none;
            }
            
            .beer-cards-box {
                background-color: #f4f4f4;
                padding: 10px 40px;
                margin: 0;
            }
            
            .filter-buttons {
                display: flex;
                justify-content: space-around;
            }
            
            .beer-cards-box h2 {
                text-align: center;
                font-size: 45px;
                margin-bottom: 5px;
            }
            
            .filter-btn,
            .sort-btn {
                margin-top: 10px;
                color: #ffffff;
                background-color: #d18200;
                border: none;
                border-radius: 5px;
                padding: 5px 12px;
                transition: 0.3s ease-in-out;
                cursor: pointer;
                width: 100px;
                text-align: center;
            }
            
            .filter-btn:hover,
            .sort-btn:hover {
                background-color: #C0C0C0;
                color: black;
            }
            
            @media (min-width: 900px) {
                .mobile {
                    display: none;
                }
                .beer-cards-box,
                .profile-selection {
                    padding: 10px 200px;
                }
                .beer-dropdown {
                    width: 150px;
                }
                .beer-cards-box h2 {
                    text-align: left;
                }
                .beer-cards-box hr {
                    margin-left: 0;
                }
                .filter-buttons {
                    justify-content: flex-end;
                }
                .filter-btn,
                .sort-btn {
                    margin-left: 25px;
                }
            }
            
            .beer-card {
                display: flex;
                flex-direction: column;
                background-color: #ffffff;
                box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
                border-radius: 10px;
                margin: 30px 0;
                padding: 25px;
            }
            
            .beer-card-top {
                display: flex;
                align-items: center;
                padding-bottom: 12px;
            }
            
            .beer-card img {
                max-height: 100px;
                max-width: 130px;
            }
            
            .beer-card h1 {
                font-size: 22px;
                padding: 0 0 0 15px;
                margin-top: 0;
            }
            
            .beer-card p {
                font-size: 16px;
                color: #5a6169;
                margin: 5px;
            }
            
            .bottom-options {
                display: flex;
            }
            
            .beer-card a,
            .bottom-options p {
                text-decoration: none;
                color: #d18200;
                font-weight: bold;
            }
            
            .beer-card-details {
                padding: 10px 0;
            }
            
            .save-button {
                cursor: pointer;
            }
            
            .saved-no {
                display: none;
            }
            
            .saved-yes {
                display: block;
            }
            
            .mobile-more {
                display: flex;
                justify-content: center;
            }
            
            .mobile-more-btn {
                color: #ffffff;
                text-align: center;
                background-color: #d18200;
                border: none;
                border-radius: 5px;
                padding: 12px;
                margin: 15px;
                width: 160px;
            }
            
            .desktop-beer-card {
                display: none;
            }
            
            .pagination {
                display: none;
            }
            
            @media (min-width: 900px) {
                .beer-card {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                }
                .beer-card img {
                    max-height: 120px;
                    max-width: 150px;
                }
                .beer-card h1 {
                    padding: 0;
                    margin-top: 0;
                }
                .beer-card p {
                    font-size: 20px;
                }
                .beer-card-center-content {
                    max-width: 60%;
                    text-align: left;
                }
                .beer-card-details {
                    text-align: right;
                }
                .mobile-beer-card {
                    display: none;
                }
                .pagination {
                    display: flex;
                    justify-content: center;
                    background-color: #f4f4f4;
                    padding-bottom: 15px;
                }
                .pagination a {
                    text-decoration: none;
                    display: inline-block;
                    border-radius: 50%;
                    padding: 8px 16px;
                }
                .previous {
                    background-color: #f1f1f1;
                    color: black;
                }
                .previous:hover {
                    background-color: #C0C0C0;
                    color: black;
                }
                .next {
                    background-color: #d18200;
                    color: white;
                }
                .next:hover {
                    background-color: #C0C0C0;
                    color: black;
                }
                .mobile-more-btn {
                    display: none;
                }
            }
            /*Mobile side menu*/
            
            .mobile-side-menu {
                padding-top: 25px;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 2;
                background-color: #d18200;
                cursor: pointer;
                opacity: 0;
                transform: translateY(100%);
                transition: 0.4s ease-in-out;
            }
            
            .side-menu-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 25px;
            }
            
            .fa-window-close {
                font-size: 40px;
                color: white;
                padding-right: 10px;
            }
            
            .side-menu-content {
                color: white;
                font-size: 40px;
                list-style: none;
                text-align: center;
                padding: 10px;
            }
            
            .show-menu {
                opacity: 1;
                transform: translateY(0%);
            }
            
            .hidden {
                display: none;
            }